.cli-container{

}
.cli-output{
    padding: 0;
    margin: 0;
    white-space: pre-line;
    margin-left: 0.6em;
    padding: 0.1em;
}
.cli-input-container{
    display: flex;
}
.prompt{
    padding: 0;
    margin: 0;
}