
.editor{
    background-color: aqua;
    overflow: scroll;
}
.editor-text{
    width: 90%;
    height: 100%;
}
.handle{
    padding: 0.1em;
    background-color: var(--color-active);
}
.handle[data-resize-handle-state="hover"],.handle[data-resize-handle-state="drag"]{
    background-color: var(--color-panel);
}
