.menu{
    background-color: var(--color-panel-background);
    width: fit-content;
    padding: 0.5rem;
}
.option-icon{
    width: 2.5rem;
}
.option-icon:hover{
    filter: invert(50%) sepia(100%) hue-rotate(180deg) saturate(500%);
}
